@charset "utf-8";
#banner {
	height: 175px;
	text-align: center;
	background-color: #BCBCBC;
}
#text {
	background-color: #BCBCBC;
}
#text2 {
	background-color: #8A9DD0;
}
#image5 {
	background-color: #8A9DD0;
}
#image6 {
	background-color: #8A9DD0;
}
#image7 {
	background-color: #8A9DD0;
}
#image8 h2 {
	background-color: #8A9DD0;
}
#image9 h2 {
	background-color: #8A9DD0;
}






#banner {
}
#image10 h2 {
	background-color: #8A9DD0;
}

#image2 {
	background-color: #8A9DD0;
}
#spelman {
	background-color: #8A9DD0;
}
#image4 {
	background-color: #8A9DD0;
}
